/* reset */
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin:0;padding:0;font-family: "Microsoft YaHei";font-size: 12px; color: #666666;}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;color: #666666;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
textarea{ resize:none;overflow:auto;}
div{margin: 0 auto;}
.clear{zoom: 1;}
.clear:after{content: "";display: block;clear: both;}
/* end reset */