@charset "utf-8";


/* 放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜放大镜 */
.proinfo_left { width:400px; float:left; z-index:10;}
#proshowimg { width:396px;height:396px; border:1px solid #eee;}
#proshowimg li { width:100%; position:absolute;left:0;top:0; height:396px; overflow:hidden;}
#proshowimg li img { width:100%;}
#proshowmenu { width:340px; text-align:center; margin:0 auto; height:80px; overflow:hidden;}
#proshowmenu li { display:inline-block;margin:0 5px; width:73px; height:73px; overflow:hidden; border:1px solid #eee;float:left;}
#proshowmenu li img { width:100%;}
#proshowmenu li.sel { border:1px solid #ff8800;}
#proshowlast,#proshownext {
	position:absolute;
	display:inline-block;
	width:15px;
	text-align:center;
	height:73px;
	line-height:73px;
	left:10px;
	top:0;
	border:1px solid #ccc;}
#proshownext {
	left:auto;
	right:10px;}

.scrool_box a{ text-decoration:none;}

